<section id="content">
            <h2>Resources</h2>
            <div>
                <h3 id="articles-news">
                    Articles & News
                </h3>
                <div>
                    <p>
                        @*<a href="/new-new1">news1</a><br />*@
                    </p>
                    <details>
                        <summary>
                            <span class="small">More</span>
                        </summary>
                        <p>
                            @*<a href="/new-morenew1">more news1</a><br />*@
                        </p>
                    </details>
                </div>
                <h3 id="helpful-links" class="spacing">
                    Helpful Links:
                </h3>
                <div>
                    <div class="bold">House Call veterinarian in North GTA</div>
                    <a href="http://www.gtamobilevets.com/">Richmond Veterinary House Call Services</a>
                </div>
            </div>

</section>
<section class="sidebar">
    <h4>Resources</h4>
    <ul>
        <li>
            <ul>
                <li>
                    <a href="/resources#articles-news">Articles & News</a>
                </li>
                <li>
                    <a href="/resources#helpful-links">Helpful Links</a>
                </li>
            </ul>
        </li>
    </ul>
</section>