
    <section class="align-center">
    <ul id="services" class="center">
        <li>
            <a id="preventive" href="/preventive_care_and_treatments" name="Preventive Care & Treatments">
                
            </a><div> Preventive Care & Treatments </div>
        </li>
        <li>
            <a id="dentistry" href="/dentistry" name="Dentistry">
                <div> Dentistry </div>
            </a>
        </li>
        <li>
            <a id="surgical" href="/surgical_services" name="Surgical Services">
                <div> Surgical Services </div>
            </a>
        </li>
        <li>
            <a id="diagnostic" href="/diagnostic_equipment" name="Diagnostic Equipment">
                <div> Diagnostic Equipment </div>
            </a>
        </li>
        <li>
            <a id="grooming" href="/grooming_and_boarding" name="Grooming Boarding">
                <div> Grooming Boarding </div>
            </a>
        </li>
        <li>
            <a id="appointment" href="/contact#appointment" name="Appoint.">
                <div> Book an Appointment</div>
            </a>
        </li>
        <li>
            <a id="time" href="#" name="Hours"></a>
            <div>
                Hours:
                <div><span>Monday-Friday:</span> 9:30am – 5pm</div>
                <div><span>Saturday:</span> 9:30am – 3pm</div>
                <div><span>Sunday:</span> Close</div>
            </div>
        </li>

    </ul>
</section>
<section class="spacing">
    <h4>Contact Details</h4>
    <div>
        Phone: (905) 898-1010<br />
        Fax: (905) 898-1014<br />
        Email: <a href="mailto:vetsnewmarket@gmail.com">vetsnewmarket@gmail.com</a><br />
        Address: 107-525 Brooker Ridge Newmarket, ON L3X 2M2
        <br />Time: Mon-Fri:9:30am – 5pm, Sat: 9:30am – 3pm.
    </div>
</section>