<section id="content">
    <h1>Job Opportunities</h1>
    <section class="spacing">
        <h3>Available positions</h3>
        <p>
            <ul>
                <li>
                <span class="bold">Volunteers:</span>
                </li>
                <li>
                    <span class="bold">Receptionist/Animal assistant:</span>
                    <br/>
                    <ul>
                        <li>Welcomes visitors by greeting them, in person or on the telephone</li>
                        <li>Receive, direct and relay telephone messages and fax messages</li>
                        <li>Performs daily inventory and order necessary supplies to maintain adequate inventory</li>
                        <li>Knowledge of computers and relevant software application</li>
                        <li>Performs other duties and assist the veterinarian as directed</li>
                        <li>At least one year experience in similar work required</li>
                    </ul>
                        
                </li>
                <li>
                    <span class="bold">Groomer:</span>
                    <br />
                    <ul>
                        <li>Part-time position is available for a self-employed contractor</li>
                        <li>At least 2 year experience as groomer.</li>
                        <li>Please email your resume and cover letter to Dr. Zak Saleh at brah.hr@gmail.com</li>
                        <li>We thank all applicants however only suitable candidates will be contacted</li>
                    </ul>
                </li>
            </ul>
        </p>
    </section>
    <section class="spacing">
        <h4>Contact Details</h4>
        <div>
            Phone: (905) 898-1010<br />
            Fax: (905) 898-1014<br />
            Email: <a href="mailto:vetsnewmarket@gmail.com">vetsnewmarket@gmail.com</a><br />
            Address: 525 Brooker Ridge #107, Newmarket, ON L3X 2M2
            <br /> Work Hours Time: Mon-Fri:9:30am – 5pm, Sat: 9:30am – 4pm.
        </div>
    </section>
</section>